@model Attendance.Models.loginDetail

@{
    Layout = null;
    ViewBag.Title = "Login Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>Employee Sign Up Form</title>

    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="signup-form LogIn">
        <h1> Login </h1>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
             <form>
                 <div class="txt">
                     <i class="fa fa-user"></i>
                     @Html.TextBoxFor(a => a.userName, new { @placeholder = "User Name" })
                     @Html.ValidationMessageFor(a => a.userName, "", new { @class = "error" })
                 </div>
                 <div class="txt">
                     <i class="fa fa-lock"></i>
                     @Html.PasswordFor(a => a.password, new { @placeholder = "Password" })
                     @Html.ValidationMessageFor(a => a.password, "", new { @class = "error" })
                 </div>
                 <input class="btn" type="submit" value="LOGIN"/>
                 <input class="btn" type="button" value="NEW USER" onclick="location.href='@Url.Action("UserRegistration", "Home")'" />
             </form>
            }
    </div>
</body>
</html>